extends layout

block content
    div#background

    div#allbg
    div#all
        h3#indextitle=title
        p Enter your first name for your info
        form(method='get' action='/users')
            div#login.form-group
                input#name.form-control(type='text', placeholder='' name='name')
                br
                button#gobutton.btn.btn-primary(type='submit') Submit
            center
                br
                h3#error #{error}
    script.
        // var bMobile =
        //     navigator.userAgent.indexOf("Mobile") !== -1 ||
        //     navigator.userAgent.indexOf("iPhone") !== -1 ||
        //     navigator.userAgent.indexOf("Android") !== -1 ||
        //     navigator.userAgent.indexOf("Windows Phone") !== -1;


        var sheet = document.createElement('style')
        sheet.innerHTML = "form {margin: auto;}  body {font-size: 1.5em;} h2 {color:white; margin-bottom:0;}#login {text-align: center;} #gobutton {} input {}";
        document.body.appendChild(sheet);
        // sheet.innerHTML = "#all { text-align: center;} form {margin: auto;}  body {font-size: 2em;} #login {text-align: center;} #gobutton {font-size:1em; width: 130px;} input {height: 60px; width: 250px;}#all {\n" +
        //     "    background: azure;\n" +
        //     "    border: 1px solid black;\n" +
        //     "    height: 400px;}";
