extends layout

block content
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-3.5.0.js')
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script.
        $(function () {
            $("#dialog").dialog();
        });
    div#dialog(title="Password Info")
        p Your password right now is just your first name twice in lowercase.
        p For instance: my username would be 'dave' and my password would be 'davedave'. No quotation marks.
        p Once you log in you can change your password to whatever you like, which I really encourage.
        p This notice won't stay up for long 'cause it's annoying, so change your password when you can!
        p Finally, please let me know if anything is broken here. It works on my devices, but that's a small sample <size></size>

    div#background

    div#allbg
    div#all

        h3#indextitle=title
        form(method='post' action='/')
            div#login.form-group
                input#name.form-control(type='text' placeholder='First Name' name='name')
                br
                input#password.form-control(placeholder='Password' name='password' type='password')
                br
                button#gobutton.btn.btn-primary(type='submit') Submit
                br
            center
                br
                h3#error #{error}
    script.
        var bMobile =
            navigator.userAgent.indexOf("Mobile") !== -1 ||
            navigator.userAgent.indexOf("iPhone") !== -1 ||
            navigator.userAgent.indexOf("Android") !== -1 ||
            navigator.userAgent.indexOf("Windows Phone") !== -1;


        var sheet = document.createElement('style')
        if (bMobile){
            console.log('yep')
            sheet.innerHTML = "form {margin: auto;}  body {font-size: 2.5em;} " +
                "#indextitle {margin-bottom:0; font-size:2.5em;}#login {text-align: center;} " +
                "#allbg, #all {width:900px;height:400px; padding-bottom: 40px; padding-top:20px;}" +
                "#all p {font-size:1em;} #gobutton   {width: 150px; height: 70px;}" +
                "input {height: 70px; width: 250px; font-size: 1em; margin-top:25px;}";
        }
        else {
            sheet.innerHTML = "form {margin: auto;}  body {font-size: 1.5em;} " +
                "h2 {color:white; margin-bottom:0;}#login {text-align: center;} " +
                "#gobutton {} input {}}";
        }
        document.body.appendChild(sheet);

