extends layout

block content
    div#background

    div#allbg
    div#all
        h3#indextitle=title
        p Enter your first name for your info
        form(method='get' action='/users')
            div#login.form-group
                input#name.form-control(type='text', placeholder='' name='name')
                br
                button#gobutton.btn.btn-primary(type='submit') Submit
            center
                br
                h3#error #{error}
    script.
        var bMobile =
            navigator.userAgent.indexOf("Mobile") !== -1 ||
            navigator.userAgent.indexOf("iPhone") !== -1 ||
            navigator.userAgent.indexOf("Android") !== -1 ||
            navigator.userAgent.indexOf("Windows Phone") !== -1;


        var sheet = document.createElement('style')
        if (bMobile){
            console.log('yep')
            sheet.innerHTML = "form {margin: auto;}  body {font-size: 2.5em;} " +
                "#indextitle {color:white; margin-bottom:0; font-size:2.5em;}#login {text-align: center;} " +
                "#allbg, #all {width:880px;height:400px; padding: 20px;}" +
                "#all p {font-size:1em;} #gobutton   {width: 150px; height: 70px;}" +
                "input {height: 70px; width: 250px; font-size: 1em; margin-top:25px;}";
        }
        else {
            sheet.innerHTML = "form {margin: auto;}  body {font-size: 1.5em;} " +
                "h2 {color:white; margin-bottom:0;}#login {text-align: center;} " +
                "#gobutton {} input {}}";
        }
        document.body.appendChild(sheet);
