extends layout

block content
    div#background

    div#allusers
        h1#hiname Hey #{name}!
        div.usersection
            h2 Here's what we talked about for homework:
            ul
                each val,key  in homework
                    if decodeURIComponent(val) != "undefined"
                        li= decodeURIComponent(val)
        div.usersection#notesdiv
            h2 Other things to think about:
            p#userpagenotes #{decodeURIComponent(notes)}
        div.usersection
            h2 Resources:
            each val, key in links
                if decodeURIComponent(val) != "undefined"
                    a(href=decodeURIComponent(val))=decodeURIComponent(key)
                    p